@model dynamic
<h1>@Html.TitleForPage(T("Change Password").ToString()) </h1>
<p>@T("Use the form below to change your password.")</p>
<p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>
@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="control-group">
            <label for="newPassword" class="required control-label">@T("New password:")</label>
            <div class="controls">
                @Html.Password("newPassword") 
                @Html.ValidationMessage("newPassword") 
            </div>
        </div>
        <div>
            <label for="confirmPassword" class="required control-label">@T("Confirm password:")</label>
            <div class="controls">
                @Html.Password("confirmPassword") 
                @Html.ValidationMessage("confirmPassword") 
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">@T("Change Password")</button>
        </div>
    </fieldset>
 } 