@using LETS.Helpers
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

}
<header class="page-header">
    <h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
</header>
<p>@T("Please enter your email address. You will receive a link to create a new password via email.")</p>
@using (Html.BeginFormAntiForgeryPost(new { @class = "needs-validation", novalidate = "novalidate" }))
{
    <div class="row ">
        <fieldset class="col-4 m-auto text-center">
            <legend>@T("Account Information")</legend>
            <div class="form-group">
                <div class="controls">
                    @Html.TextBox("username", "", new { autofocus = "autofocus", @class = "form-control required input-xlarge", required = "required", placeholder = "Your email", @type = "email" })
                    <div class="invalid-feedback">@Html.ValidationMessage("username")</div>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">@T("Send Request")</button>
            </div>
        </fieldset>
    </div>
}
