<header class="page-header">
    <h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
</header>
<p>@T("Please enter your email address. You will receive a link to create a new password via email.")</p>
@using (Html.BeginFormAntiForgeryPost())
{ 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="control-group">
            <label for="username" class="required control-label">@T("Email:")</label>
            <div class="controls">
                @Html.TextBox("username", "", new{ autofocus="autofocus", @class = "required input-xlarge" })
                @Html.ValidationMessage("username")
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">@T("Send Request")</button>
        </div>
    </fieldset>
}
