@using LETS.Helpers;

@model LETS.ViewModels.MemberNoticesViewModel
<h1>My notices</h1>
@if (Model.Notices.Count().Equals(0))
{
    <p>
        @T("You don't have any active notices")
        <br />
        @Html.ActionLink(T("Add a notice").ToString(), "Create", new { area = "LETS", controller = "Notice" })
    </p>
}
@foreach (var notice in Model.Notices)
{
    @Display(notice)
    var id = notice.ContentItem.Id;
    @Html.ActionLink(T("Edit").ToString(), "Edit", "Notice", new { area = "LETS", id = id }, new { @class = "edit" }) @:|
    @Html.ActionLink(T("Delete").ToString(), "Delete", "Notice", new { area = "LETS", id = id }, new { @class = "edit", itemprop = "UnsafeUrl RemoveUrl" }) @:|
    var published = Helpers.IsPublished(notice.ContentItem);
    if (published)
    {
        @Html.Link(T("Archive").Text, Url.Action("Unpublish", "Notice", new { area = "LETS", id = id }), new { @class = "edit", itemprop = "UnsafeUrl ArchiveUrl" })
    }
    else
    {
        @Html.ActionLink(T("Publish").ToString(), "Publish", "Notice", new { area = "LETS", id = id }, new { @class = "edit", itemprop = "UnsafeUrl" })
    }
}
@{
    <div id="archivedNotices">
        <h2>@T("Archived notices")</h2>
        <p><strong>@T("Expired notices will show up here until they are deleted or re-activated by publishing them.")</strong></p>
        <p>@T("Notices can also be archived if you don't want to delete them yet")</p>
        @if (Model.ArchivedNotices.Any())
        {
            foreach (var archivedNotice in Model.ArchivedNotices)
            {
                var id = archivedNotice.ContentItem.Id;
                @Display(archivedNotice)
                @Html.ActionLink(T("Edit").ToString(), "Edit", "Notice", new { area = "LETS", id = id }, new { @class = "edit" }) @:|
                @Html.ActionLink(T("Delete").ToString(), "Delete", "Notice", new { area = "LETS", id = id }, new { @class = "edit", itemprop = "UnsafeUrl RemoveUrl" }) @:|
                var published = Helpers.IsPublished(archivedNotice.ContentItem);
                if (published)
                {
                    @Html.Link(T("Archive").Text, Url.Action("Unpublish", "Notice", new { area = "LETS", id = id }), new { @class = "edit", itemprop = "UnsafeUrl ArchiveUrl" })
                }
                else
                {
                    @Html.ActionLink(T("Publish").ToString(), "Publish", "Notice", new { area = "LETS", id = id }, new { @class = "edit", itemprop = "UnsafeUrl" })
                }
            }
        }
    </div>
}

@Html.AntiForgeryTokenOrchard()