@* Street address is private *@
@if (WorkContext.CurrentUser.Id.Equals(Model.Address.User.Id))
{
    <div class="row">
        <div class="col-4"><p class="font-weight-bold">@T("Street address")</p></div>
        <div class="col-8">
            @Model.Address.StreetAddress
            <p><span class="label label-info">Private</span> <em>@T("Your street address is not shown to other members")</em></p>
        </div>
    </div>
    <hr />
}
<div class="row">
    <div class="col-4" ><p class="font-weight-bold">@T("Locality")</p></div>
    <div class="col-8">@Html.ActionLink((string)string.Format("{0} {1}", @Model.Locality, @Model.Postcode), "Notices", new { area = "LETS", Controller = "Locality", id = @Model.Address.Locality.Id })</div>
</div>
<hr />
