<div class="row">
    <div class="span2">
        <h4>@T("Email")</h4>
    </div>
    <div class="span7">
        <a href="mailto:@Model.Member.Email">@Model.Member.Email</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="span2">
        <h4>@T("Telephone")</h4>
    </div>
    <div class="span7">
        <a href="callto:@Model.Member.Telephone">@Model.Member.Telephone</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="span2">
        <h4>@T("Balance")</h4>
    </div>
    <div class="span7">
        @Model.Member.Balance
    </div>
</div>
<hr/>
<div class="row">
    <div class="span2">
        <h4>@T("Turnover")</h4>
    </div>
    <div class="span7">
        @Model.Member.Turnover
    </div>
</div>
<hr />
