<div class="row">
    <div class="col-4">
        <p class="font-weight-bold">@T("Email")</p>
    </div>
    <div class="col-8">
        <a href="mailto:@Model.Member.Email">@Model.Member.Email</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-4">
        <p class="font-weight-bold">@T("Telephone")</p>
    </div>
    <div class="col-8">
        <a href="callto:@Model.Member.Telephone">@Model.Member.Telephone</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-4">
        <p class="font-weight-bold">@T("Balance")</p>
    </div>
    <div class="col-8">
        @Model.Member.Balance
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-4">
        <p class="font-weight-bold">@T("Turnover")</p>
    </div>
    <div class="col-8">
        @Model.Member.Turnover
    </div>
</div>
<hr />
