@model Orchard.Core.Common.ViewModels.TextFieldDriverViewModel
<div class="border p-3 border-top-0">
    <div class="form-group">
        <label for="@Html.FieldIdFor(m => m.Text)" class="control-label">@Model.Field.DisplayName</label>
        @if (String.IsNullOrWhiteSpace(Model.Settings.Flavor))
        {
            @Html.TextBoxFor(m => m.Text, new { @class = "text input-xlarge" })
            <span class="help-inline alert alert-info ">@Model.Settings.Hint</span>
            @Html.ValidationMessageFor(m => m.Text)
        }
        else
        {
            @Display.Body_Editor(Text: Model.Text, EditorFlavor: Model.Settings.Flavor)
            <span class="help-inline alert alert-info ">@Model.Settings.Hint</span>
        }
    </div>
</div>
