@model LETS.Models.MemberLinksPart
<h2>Social media links <small>optional</small></h2>
<div class="form-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Website)">@T("Website")</label>
    @Html.TextBoxFor(model => model.Website, new { @class = "form-control input-xlarge", @type = "url", maxlength = 100 })
    <div class="invalid-feedback">Please type a valid url (starting with http:// or https://)</div>
</div>
<div class="form-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Facebook)">@T("Facebook")</label>
    @Html.TextBoxFor(model => model.Facebook, new { @class = "form-control input-xlarge", @type = "url", maxlength = 100 })
    <div class="invalid-feedback">Please type a valid url (starting with http:// or https://)</div>
</div>
<div class="form-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Instagram)">@T("Instagram")</label>
    @Html.TextBoxFor(model => model.Instagram, new { @class = "form-control input-xlarge", @type = "url", maxlength = 100 })
    <div class="invalid-feedback">Please type a valid url (starting with http:// or https://)</div>
</div>
<div class="form-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Twitter)">@T("Twitter")</label>
    @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control input-xlarge", @type = "url", maxlength = 100 })
    <div class="invalid-feedback">Please type a valid url (starting with http:// or https://)</div>
</div>
<div class="form-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.LinkedIn)">@T("LinkedIn")</label>
    @Html.TextBoxFor(model => model.LinkedIn, new { @class = "form-control input-xlarge", @type = "url", maxlength = 100 })
    <div class="invalid-feedback">Please type a valid url (starting with http:// or https://)</div>
</div>
<div class="form-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Pinterest)">@T("Pinterest")</label>
    @Html.TextBoxFor(model => model.Pinterest, new { @class = "form-control input-xlarge", @type = "url", maxlength = 100 })
    <div class="invalid-feedback">Please type a valid url (starting with http:// or https://)</div>
</div>
<div class="form-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Goodreads)">@T("Goodreads")</label>
    @Html.TextBoxFor(model => model.Goodreads, new { @class = "form-control input-xlarge", @type = "url", maxlength = 100 })
    <div class="invalid-feedback">Please type a valid url (starting with http:// or https://)</div>
</div>
