@using LETS.Helpers
@using LETS.Models
@using Orchard.ContentManagement
@using Orchard.Security
@model LETS.ViewModels.EditTransactionViewModel
@{
    Style.Require("jQueryCalendars_Picker");
    Style.Require("jQueryUI_Calendars_Picker");
    Style.Require("jQueryDateTimeEditor");

    Script.Require("jQueryCalendars_All").AtFoot();
    Script.Require("jQueryCalendars_Picker_Ext").AtFoot();

    var minTransactionDay = WorkContext.CurrentSite.As<LETSSettingsPart>().OldestRecordableTransactionDays * -1;
    var isAdmin = WorkContext.Resolve<IAuthorizationService>().TryCheckAccess(LETS.Permissions.AdminMemberContent, WorkContext.CurrentUser, WorkContext.Resolve<IContentManager>().Create<TransactionPart>("Transaction"));
}
<div class="control-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.TransactionDate)">@T("Transaction date")</label>
    <div class="controls">
        @Html.TextBoxFor(m => m.TransactionDate, new { @class = "required input-small date" })
        @Html.ValidationMessageFor(m => m.TransactionDate)
        @Html.HiddenFor(m => m.TransactionTime)
    </div>
</div>

@if (isAdmin) {
    <div class="control-group">
        <label class="control-label" for="@Html.FieldIdFor(m => m.TransactionType)">@T("Type")</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.TransactionType, new SelectList(Enum.GetValues(typeof (TransactionType))))
        </div>
    </div>

    <div class="control-group">
        <label class="required control-label" for="@Html.FieldIdFor(m => m.IdSeller)">@T("Seller")</label>
        <div class="controls noticeTypesRadioList">
            @Html.DropDownGroupListFor(model => model.IdSeller, Model.Members, @T("Choose a seller").ToString())
            @Html.ValidationMessageFor(model => model.IdSeller)
        </div>
    </div>
}
else {
    @Html.HiddenFor(m => m.TransactionType)
    @Html.HiddenFor(m => m.IdSeller)
}

<div class="control-group">
    <label class="required control-label" for="@Html.FieldIdFor(m => m.IdBuyer)">@T("Buyer")</label>
    <div class="controls noticeTypesRadioList">
        @Html.DropDownGroupListFor(model => model.IdBuyer, Model.Members, @T("Choose a buyer").ToString())
        @Html.ValidationMessageFor(model => model.IdBuyer)
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Description)">@T("Description")</label>
    <div class="controls">
        @Html.TextBoxFor(model => model.Description, new { @class = "required input-xlarge" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>    
</div>

<div class="control-group">
    <label class="control-label" for="@Html.FieldIdFor(m => m.Value)">@T("Value")</label>
    <div class="controls">
        <div class="input-prepend">
            <span class="add-on">@Model.CurrencyUnit</span>@Html.TextBoxFor(model => model.Value, new { @class = "input-mini" })
        </div>
        @Html.ValidationMessageFor(model => model.Value)
    </div>    
</div>

@Display.CalendarsPickerLocalization()

@using (Script.Foot())
{
    <script type="text/javascript">    
    //<![CDATA[
        $(function () {
            var txtTransactionDate = $('#@Html.FieldIdFor(m => m.TransactionDate)');
            txtTransactionDate.calendarsPicker({
                showAnim: "", 
                minDate: @minTransactionDay, 
                maxDate: 0, 
                showOn: "both", 
                buttonImageOnly: false,
                renderer: $.extend({}, $.calendarsPicker.themeRollerRenderer, {
                    picker: "<div {popup:start} id='ui-datepicker-div'{popup:end} class='ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all{inline:start} ui-datepicker-inline{inline:end}'><div class='ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all'>{link:prev}{link:today}{link:next}</div>{months}{popup:start}{popup:end}<div class='ui-helper-clearfix'></div></div>",
                    month: "<div class='ui-datepicker-group'><div class='ui-datepicker-month ui-helper-clearfix'>{monthHeader:MM yyyy}</div><table class='ui-datepicker-calendar'><thead>{weekHeader}</thead><tbody>{weeks}</tbody></table></div>"
                })
            });
        })
    //]]>
</script>
}