@*overriding this in order to move scripts into webpack*@
@model DropzoneField.ViewModels.DropzoneFieldViewModel

<div class="border p-3 dropzone-container">
    <div class="form-group">
        <label class="control-label">@Model.Field.DisplayName</label>
        <div id="dropzoneContainer" class="dropzone"></div>
    </div>
</div>
@Html.HiddenFor(model => model.Field.FileNames, new { id = "filenames"})
<input type="hidden" id="upload-url" value="@Url.Action("Upload", "Dropzone", new { area = "DropzoneField" })" />
<input type="hidden" id="max-width" value="@Model.Settings.MaxWidth" />
<input type="hidden" id="file-limit" value="@Model.Settings.FileLimit" />
<input type="hidden" id="anti-forgery-token" value="@Html.AntiForgeryTokenValueOrchard()" />
<input type="hidden" id="dropzone-folder" value="@Model.DropzoneMediaFolder" />

