@using System.Globalization
@using LETS.Models
@using Orchard.ContentManagement;
@using System.Web.Mvc.Html;
@using Orchard.ArchiveLater.ViewModels
@{
    Style.Require("jQueryCalendars_Picker");
    Style.Require("jQueryUI_Calendars_Picker");
    Style.Require("jQueryDateTimeEditor");

    Script.Require("jQueryCalendars_All").AtFoot();
    Script.Require("jQueryCalendars_Picker_Ext").AtFoot();

    var archiveLater = (ArchiveLaterViewModel)Model.Model;
    var maxDays = WorkContext.CurrentSite.As<LETSSettingsPart>().MaximumNoticeAgeDays;
    var cultureInfo = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
    var shortDateFormat = cultureInfo.DateTimeFormat.ShortDatePattern;
    var twoDays = DateTime.Now.AddDays(2).ToString(shortDateFormat);
    var sevenDays = DateTime.Now.AddDays(7).ToString(shortDateFormat);
    var maxDate = DateTime.Now.AddDays(maxDays).ToString(shortDateFormat);
    // default value
    if (archiveLater.Editor.Date == null)
    {
        archiveLater.Editor.Date = maxDate;
    }
}

<div class="border p-3 border-top-0">
    <div class="form-group">
        <input type="hidden" value="true" name="ArchiveLater.ArchiveLater">
        <label class="required control-label" for="@Html.FieldIdFor(m => archiveLater.Editor.Date)">@T("Expires")</label>
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="input-append">
                @Html.TextBoxFor(m => archiveLater.Editor.Date, new { @class = "form-control" })
            </div>
            <div id="archiveQuickPick" class="btn-group mr-2 input-group-append" role="group">
                <a class="btn btn-outline-primary" href="#" id="aTwoDays">
                    <input type="hidden" value="2" />
                    <i class="icon-time"></i>
                    2 @T("days")
                </a>
                <a class="btn btn-outline-primary" href="#" id="aSevenDays">
                    <input type="hidden" value="7" />
                    <i class="icon-time"></i>
                    1 @T("week")
                </a>
                <a class="btn btn-outline-primary" href="#" id="aMaxDays">
                    <input type="hidden" value="@maxDays" />
                    <i class="icon-time"></i>
                    @maxDays @T(" days")
                </a>
            </div>
        </div>
    </div>
</div>
@Display.CalendarsPickerLocalization()

@using (Script.Foot())
{
    <script type="text/javascript">
    //<![CDATA[

        $(function () {

            // need this for unobtrusive date validation to work in chrome http://stackoverflow.com/questions/6906725/unobtrusive-validation-in-chrome-wont-validate-with-dd-mm-yyyy
            //jQuery.validator.methods["date"] = function (value, element) { return true; }

            // activate the datepicker
            var txtArchiveDate = $('#@Html.FieldIdFor(m => archiveLater.Editor.Date)');
            txtArchiveDate.calendarsPicker({
                showAnim: "",
                minDate: 0,
                maxDate: @maxDays,
                showOn: "both",
                buttonImageOnly: false,
                renderer: $.extend({}, $.calendarsPicker.themeRollerRenderer, {
                    picker: "<div {popup:start} id='ui-datepicker-div'{popup:end} class='ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all{inline:start} ui-datepicker-inline{inline:end}'><div class='ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all'>{link:prev}{link:today}{link:next}</div>{months}{popup:start}{popup:end}<div class='ui-helper-clearfix'></div></div>",
                    month: "<div class='ui-datepicker-group'><div class='ui-datepicker-month ui-helper-clearfix'>{monthHeader:MM yyyy}</div><table class='ui-datepicker-calendar'><thead>{weekHeader}</thead><tbody>{weeks}</tbody></table></div>"
                })
            });
            // ensure the default value is sent if date has no value
            $("button:submit").click(function() {
                if (txtArchiveDate.val() === '') {
                    txtArchiveDate.val('@maxDate');
                }
            });
            // quick pick, if bootstrap-button.js is present
            if ($().button) {
                if (txtArchiveDate.val() === '@maxDate') {
                    $("#aMaxDays").button('toggle');
                }
                else if (txtArchiveDate.val() === '@twoDays') {
                    $("#aTwoDays").button('toggle');
                }
                else if (txtArchiveDate.val() === '@sevenDays') {
                    $("#aSevenDays").button('toggle');
                }
            }
            $("#archiveQuickPick a.btn").click(function(event) {
                event.preventDefault();
                var days = $(this).children("input:hidden").val();
                txtArchiveDate.calendarsPicker( "setDate" , "+" + days);
            });
        })
        //]]>
    </script>
}