@using LETS.Helpers
@using Orchard.ArchiveLater.Models
@using Orchard.ContentManagement
@using Orchard.Core.Common.Models
@{
    var createdUtc = Model.ContentPart.CreatedUtc != null ? TimeZoneInfo.ConvertTimeFromUtc(Model.ContentPart.CreatedUtc, WorkContext.CurrentTimeZone) : null;
    var publishedUtc = Model.ContentPart.PublishedUtc != null ? TimeZoneInfo.ConvertTimeFromUtc(Model.ContentPart.PublishedUtc, WorkContext.CurrentTimeZone) : null;
    var republished = publishedUtc != null && createdUtc != null && (publishedUtc - createdUtc).Days > 1;
}
@if (republished)
{
    <div class="published">
        <h6>
            @T("Re-posted") @publishedUtc.ToString("d MMMM yyyy") at @publishedUtc.ToShortTimeString()<br />
            (@T("First posted") @createdUtc.ToString("d MMMM yyyy"))
        </h6>
    </div>
}
else if (publishedUtc != null)
{
    <div class="published"><h6>@T("Posted") @publishedUtc.ToString("d MMMM yyyy") at @publishedUtc.ToShortTimeString()</h6></div>
}
@if (Helpers.IsPublished(Model.ContentItem))
{
    var archiveDate = ((CommonPart)Model.ContentPart).As<ArchiveLaterPart>().ScheduledArchiveUtc.Value;
    <div class="archived"><h6>@Display.ArchiveState(archiveDateTimeUtc: archiveDate)</h6></div>
}
