@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }
}
<div class="row">
    <div class="col-md-7">
        @Display(Model.Header)
        @Display.PricingInfo(ContentPart: Model.ContentItem.NoticePart)
        @Display(Model.Content)
    </div>
    <div class="col-md-5">
        @Display(Model.Meta)
    </div>
</div>
<div class="row notice-footer">
    <div class="col-12">
        @Display(Model.Footer)
    </div>
</div>
