@using LETSBootstrap.Services
@using Orchard.Mvc.Html;
@{
    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
    var themeSettings = WorkContext.Resolve<ISettingsService>().GetSettings();
}
<!DOCTYPE html> 
<html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage()"> 
<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Title(title, siteName)</title> 
    @Display(Model.Head)
    </head> 
    <body>
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>