@{
    Style.Include("../dist/main.css");
    Script.Include("../dist/index.bundle.js").AtFoot();

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div");

}
@tag.StartElement

<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src='~/themes/LETSBootstrap/Content/logo.png?h=30' height="30" id="logo" class="d-inline-block align-top" alt="@WorkContext.CurrentSite.SiteName logo" /> @WorkContext.CurrentSite.SiteName
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarNav" aria-controls="navigation authNavigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navigation" class="collapse navbar-collapse navbarNav">
                @Display(Model.Navigation)
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container">
            <div id="authNavigation" class="collapse navbar-collapse navbarNav">
                @Display(Model.AuthNavigation)
            </div>
        </div>
    </nav>
</div>


@Display(Model.Banner)
<main role="main" class="mt-4 container">
    @if (Model.Messages != null)
    {
        <div id="messages">
            @Display(Model.Messages)
        </div>
    }

    @if (Model.BeforeContent != null)
    {
        <div id="before-content" class="mb-4 border-bottom">
            @Display(Model.BeforeContent)
        </div>
    }
    <div class="row mb-4">
        @if (Model.ContentFirst != null)
        {
            <div id="content-first" class="col-md-6 pr-4">
                @Display(Model.ContentFirst)
            </div>
            <div id="content-second" class="col-md-6 pl-4">
                @Display(Model.ContentSecond)
            </div>
        }

        @if (Model.Content != null)
        {
            var contentClass = "col-md-12";
            if (Model.Aside != null)
            {
                contentClass = "col-md-8";
            }
            <div id="content" class="@contentClass">
                @Display(Model.Content)
            </div>
        }
        @if (Model.Aside != null)
        {
            <aside class="col-md-4">
                @Display(Model.Aside)
            </aside>
        }

    </div>

    @if (Model.AfterContent != null)
    {
        <div id="after-content" class="py-5 border-top">
            @Display(Model.AfterContent)
        </div>
    }

</main>

@if (Model.PreFooter != null)
{
    <div id="pre-footer" class="bg-white py-5 border-top">
        <div class="container">
            @Display(Model.PreFooter)
        </div>
    </div>
}
<footer class="text-muted bg-light py-5 border-top">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        @Display(Model.Footer)
    </div>
</footer>
@tag.EndElement

