@using LETSBootstrap.Services
@functions {
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    SetMeta("viewport", "width=device-width, initial-scale=1.0");

    Style.Include("../dist/main.css");
    Script.Include("../dist/index.bundle.js").AtFoot();

    Func<dynamic, dynamic>
    Zone = x => Display(x);

    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-");
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-");
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-");
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    WorkContext.Layout.Footer.Add(New.Copyright(), "5");

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div");
    var mainDivClass = string.Empty;

    var tagline = WorkContext.Resolve<ISettingsService>
        ().GetSettings().Tagline;
}
@tag.StartElement
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<main role="main">
    @if (Model.Banner != null)
    {
        <div class="jumbotron-container banner-image">
            <section class="jumbotron text-center">
                <div class="container ">
                    @if (!string.IsNullOrEmpty(tagline))
                    {
                        <h1 class="jumbotron-heading">@tagline</h1>
                    }
                    @Zone(Model.Banner)
                </div>
            </section>
        </div>
    }
    <div class="album py-5 bg-light">
        <div class="container">
            @Zone(Model.Content)


            @*@Zone(Model.Branding)
                @Zone(Model.User)
                @Zone(Model.NavBarSearch)
                @Zone(Model.Navigation)
                @Zone(Model.AuthNavigation)
                @Zone(Model.Featured)
                @Zone(Model.BeforeMain)
                @Zone(Model.AsideFirst)
                @Zone(Model.AsideSecond)
                @Zone(Model.Messages)
                @Zone(Model.BeforeContent)
                @Zone(Model.AfterContent)
                @Zone(Model.AfterMain)
                @Zone(Model.Footer)*@


        </div>
    </div>
</main>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="{{ site.url }}">Visit the homepage</a> or read our <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>


@tag.EndElement
<script>
            var config = {
                /**/
                /**/
                /**/
                appRoot: '@Url.Content("~")'
            /**/
            /**/
            /**/
        };
        /**/
        /**/
        /**/
        var confirmRemoveMessage = '@T("Are you sure you want to delete this?")';
/**/
/**/
/**/
</script>

